<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">        
    <mat-card class="gradient-green tile p-5"> 
     <mat-icon>person</mat-icon> 
     <div fxLayoutAlign="center center">
      <h2>PATIENTS</h2>
          </div>   
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2"routerLink="/site">        
        <mat-card class="gradient-green  tile p-5"> 
            <mat-icon>home</mat-icon> 
            <div fxLayoutAlign="center center">
            <h2>SITES</h2> 
            </div>        
                     
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2" routerLink="/collaborateur">
        <mat-card class="gradient-green  tile p-5">
            <mat-icon>group</mat-icon> 
            <div fxLayoutAlign="center center">
            <h2>EQUIPES</h2>   
        </div>      
        </mat-card>
    </div>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">        
            <mat-card class="gradient-green tile p-5"> 
                <mat-icon>dashboard</mat-icon> 
                <div fxLayoutAlign="center center">
                <h2>DASHBOARD</h2>
                </div>                    
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">        
            <mat-card class="gradient-green  tile p-5"> 
                <mat-icon>date_range</mat-icon> 
                <div fxLayoutAlign="center center">
                <h2>AGENDA</h2>  
                </div>               
            </mat-card>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
            <mat-card class="gradient-green  tile p-5">
                <mat-icon>event_note</mat-icon> 
                <div fxLayoutAlign="center center">
                <h2>FILE D'ATTENTE</h2> 
                </div>        
            </mat-card>
        </div>
        </div>