<!-- <div  class="sycad-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
</div> -->
<div *ngIf="isLoadingResults" fxLayout="column" fxLayoutAlign="center center" class="location-spinner">   
    <mat-spinner color="primary"></mat-spinner>    
</div> 
    <form [formGroup]="formulaire" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-card-header>
            <mat-card-subtitle>
                <h3>
                    <span *ngIf="!location.id">Créer une location </span>
                    <span *ngIf="location.id">Modifier: [{{location.titre}}]</span>
                </h3>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        <div mat-dialog-content> 
            <mat-tab-group class="tab-content-wrapped">
                <mat-tab> 
                    <ng-template mat-tab-label>
                        <mat-icon>home</mat-icon>
                       Maison
                    </ng-template>
                    <div fxLayout="row wrap" class="mt-2">
                        <div fxFlex="100" fxFlex.gt-md="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Titre</mat-label>
                                <input matInput placeholder="Titre" formControlName="titre" required>
                                <mat-error *ngIf="formulaire.controls.titre.errors?.required">Le code est obligatoire</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-md="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Description</mat-label>
                                <textarea  matInput placeholder="Description" formControlName="description" required> </textarea>
                                <mat-error *ngIf="formulaire.controls.description.errors?.required">La description est obligatoire</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-md="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Prix</mat-label>
                                <input matInput placeholder="Prix" type=number formControlName="prix" required>
                                <mat-error *ngIf="formulaire.controls.prix.errors?.required">Le prix est obligatoire</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-md="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Condition</mat-label>
                                <input matInput placeholder="Condition" formControlName="condition" required>
                                <mat-error *ngIf="formulaire.controls.condition.errors?.required">La condition est obligatoire</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-md="50" class="px-3">
                        <mat-form-field appearance="outline" fxFlex="90">
                            <mat-label>Statut</mat-label>
                            <mat-select formControlName="statut">
                                <mat-option [value]="statut" *ngFor="let statut of status">
                                    {{statut}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formulaire.controls.statut.errors?.required">Le statut est obligatoire</mat-error>
                        </mat-form-field>
                    </div>
                    </div>  
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon>location_on</mat-icon>
                      Localisation 
                    </ng-template>
                    <div fxLayout="row wrap" class="mt-2">
                        <div fxFlex="100" fxFlex.gt-md="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Ville</mat-label>
                                <input matInput placeholder="Ville" formControlName="ville" required>
                                <mat-error *ngIf="formulaire.controls.titre.errors?.required">La ville est obligatoire</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-md="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Quartier</mat-label>
                                <textarea  matInput placeholder="Quartier" formControlName="quartier" required> </textarea>
                                <mat-error *ngIf="formulaire.controls.quartier.errors?.required">Le quartier est obligatoire</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxFlex.gt-md="50" class="px-3">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Lien google map</mat-label>
                                <input matInput placeholder="Google map" formControlName="lien" required>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group> 
        </div>
        <div mat-dialog-actions mat-dialog-actions fxLayout="row" fxLayout="row" [fxLayoutGap]="'20px'" fxLayoutAlign="end center" class="w-100">
                <button mat-raised-button color="warn" type="button" (click)="resetForm()">Annuler</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="!formulaire.valid">Valider</button> 
        </div>
    </mat-card-content>
    </form>